.searchResult-image {
  max-width: 45px;
  max-height: 68px;
}

.react-autosuggest__container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.react-autosuggest__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 22px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestion {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion a{
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.react-autosuggest__suggestion a:hover{
  text-decoration: none;
}

.react-autosuggest__suggestion .movie-list-title {
  margin-left: 10px;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}