.movie-details .card-body, .movie-details .card {
  background-color: #020715;
}

.movie-details .poster{
  position: absolute;
  width: 100%;
  top: -100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.5), 0px 16px 32px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.movie-details .info {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 12px;
  color: #B8D8E6;
}

hr {
  border: 1px solid #0F303D;
  box-sizing: border-box;
}

.faArrowLeft {
  position: absolute;
}

.svg-inline--fa {
  height: 4em;
  color: white;
}

.svg-inline--fa.fa-w-14 {
  width: 6.875em;
}

@media only screen and (min-width: 1200px) {
  .movie-details hr {
    margin-top: 250px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .movie-details hr {
    margin-top: 180px;
  }
}


@media only screen and (min-width: 769px) {
  .movie-details .card-img-top {
    max-height: 300px;
  }
}