.card-body {
  padding: 1rem;
  background-color: black;
}

.card-body .card-title {
  color: #E6F7FF;
}

.card-body .card-subtitle {
  color: #A1D1E6;
}

.movie-vote-average{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  color: #FFFFFF;
}


.movie-vote-average span {
  border-radius: 11px;
  background-color: #00C49F;
}

.test{

}