@font-face {
  font-family: 'charles_wrightbold';
  src: url("../fonts/charleswright-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charles_wrightregular';
  src: url("../fonts/charleswright-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


