.has-search {
    .form-control {
        padding-left: 2.5rem;
    }

    .search-icon {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        top: 8px;
        left: 18px;
    } 
}

.col-form-label {
    font-weight: bold;
    text-align: left;
}