html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: opensans, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  background-color: #020715;
  color: #fff
}

#root {
  height: 100%;
}

a {
  color: #272a2d;
  cursor: pointer;
  outline: 0;
}

.fixed-header-offset {
  padding-top: 73px !important;
}

.toast-top-right {
  top: 100px !important;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

.btn-transparent:hover{
  background-color: transparent;
  border-color: transparent;
}

.collapsible-header {
  cursor: pointer;

  &.sliding-panel {
    padding: 0 !important;
    margin-top: 0.5rem !important;
    font-size: 14px !important;

    svg {
      margin-right: 10px;
    }
  }
}

.recharts-default-legend {
  margin-bottom: 10px !important;
}

.recharts-tooltip-wrapper {
  z-index: 9999;
}

.recharts-default-tooltip {
  background-color: #fff !important;
}

h1 {
  margin-bottom: 20px;
}