$sidebarWidth: 300px;

.sidebar {
  width: $sidebarWidth !important;
  padding: 0;
  background-color: #222;
  color: #ccc;
  flex-basis: unset;
  flex-grow: unset;

  &.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    .traffic {
      text-align: center;

      .views {
        border: 1px solid #0088FE;
        color: #ffffff;
        border-radius: 3px;
        background-color: #0088FE
      }

      .clicks {
        border: 1px solid #00C49F;
        color: #ffffff;
        border-radius: 3px;
        background-color: #00C49F
      }

      .signups {
        border: 1px solid #FFBB28;
        color: #ffffff;
        border-radius: 3px;
        background-color: #FFBB28
      }

      .label {
        font-size: 11px;
      }
      .value {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .sidebar-sticky{
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 73px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu-title {
    text-transform: uppercase;
    border-bottom: 2px solid #444;
    padding: 4px;
    margin-left: 4px;
    color: #aaa;
  }

  .menu-item {
    padding: 12px;
    background-color: #333;
    font-size: 0.8rem;
    margin-top: 1px;

    a {
      text-decoration: none;
      color: #ccc;
      cursor: pointer;
    }

    .active {
      color: #d32123;
    }
  }
}

.sidebar-main {
  @include media-breakpoint-up(lg) {
    width: calc(100% - #{$sidebarWidth});
    padding: 0;
    margin-left: $sidebarWidth !important;
    flex-basis: unset;
    flex-grow: unset;
  }
}
