.nav-tabs {
/*  display: block !important;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;*/

  .nav-item {
    display: inline-block;
  }

  .nav-link {
    font-size: 0.9rem;
    margin-right: 5px;
    z-index: 1;
    border: 1px solid transparent !important;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-top: 2px solid #dee2e6 !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1px;

    &.active,
    &:hover {
      border-top: 3px solid #d32123 !important;
    }
  }
}

.tab-pane {
  font-size: 0.9rem;
}

.tab-content {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0 0 5px 5px;
}

