// Typography
$font-family-sans-serif: "Roboto", sans-serif;
// $font-family-sans-serif: "Nunito", sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #d32123;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
  "primary": #4285f4,
  "success": #34a853,
  "danger": $red,
  "warning": #fbbc05,
  "secondary": #878787
);
